<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Company_actions" />
        <activity android:name=".Applicant_Updateprofile" />
        <activity android:name=".Applicants_Actions" />
        <activity android:name=".Applicants_Details" />
        <activity
            android:name=".Company_drawer"
            android:label="@string/title_activity_company_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Applicant_drawer"
            android:label="@string/title_activity_applicant_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Company_viewApplicants" />
        <activity android:name=".Applicants_profile" />
        <activity android:name=".Applicants_viewjob" />
        <activity android:name=".Company_login" />
        <activity android:name=".Applicants_Login" />
        <activity android:name=".Company_Register" />
        <activity android:name=".Applicants_Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.job-app.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>